#heart {
  position: relative;
  width: 50px; /* Ширина сердца */
  height: 45px; /* Высота сердца */
  margin: 0 auto; /* Центрируем сердце */
  background: transparent; /* Начальный цвет сердца */
  animation: slideIn 0.5s forwards, slideOut 0.5s 2.5s forwards; /* Анимация появления и исчезновения */
}

#heart::before,
#heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 26px; /* Ширина верхней части сердца */
  height: 40px; /* Высота верхней части сердца */
  border-radius: 25px 25px 0 0;
  background: pink; /* Исходный цвет */
  transition: background 0.5s; /* Плавный переход цвета */
}

#heart::before {
  left: 25px; /* Сдвиг влево */
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.fill::before,
.fill::after {
  background: pink; /* Цвет заполнения */
}

/* Анимация появления */
@keyframes slideIn {
  from {
    transform: translateY(100%); /* Начальная позиция снизу */
    opacity: 0; /* Начальная прозрачность */
  }
  to {
    transform: translateY(0); /* Конечная позиция */
    opacity: 1; /* Конечная прозрачность */
  }
}

/* Анимация исчезновения */
@keyframes slideOut {
  from {
    transform: translateY(0); /* Начальная позиция */
    opacity: 1; /* Начальная прозрачность */
  }
  to {
    transform: translateY(-100%); /* Конечная позиция вверх */
    opacity: 0; /* Конечная прозрачность */
  }
}
